@import "tailwindcss";

/* Custom Styles will be used for the Genre div  and Cast name div styling */
@layer utilities {
  .custom_pill_box {
    @apply w-fit h-[35px] px-3 py-0 flex justify-center items-center;
    @apply bg-slate-100 text-slate-800 border rounded-full font-bold text-sm ;
    @apply transition-all duration-300;
    
    /* Dark Mode & Hovers */
    @apply hover:bg-slate-800 hover:text-slate-100 hover:shadow-lg;
    @apply dark:bg-slate-800 dark:text-slate-100;
    @apply dark:hover:bg-slate-100 dark:hover:text-slate-800;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
